## Heroes Of Pymoli Data Analysis


After a detailed analysis of the data contained in the file "purchase_data.csv" the following information stands out a bout the players population

•	Total number of players:  576 
    (Output cell 3)

•	Total Unique Items: 183 
    Average Price: $3.05, 
    Total sales: 780
    Revenue:  $2,379.77 
    (Output cell 7)

•	Majority of players are Male representing 83.59% percent of the players population.
    Female players represent 14.49%
    Other / Non-Disclosed players 1.92% 
    (Output cell 10)

•	Majority of the purchases are made by Male players with a Sales Total of $1,967.64
    Although the minority of sales come from players in the Female and Other / Non-Disclosed groups
    the actual average purchase price per person is similar across the three gender groups any where from $4.07 to $4.56 per 
    individual purchase.
    (Output cell 17)

•	Players ages 20-24 make up most of the population, 258 strong, followed by 107 players ages 15-19 and 77players ages 25-29 
    (Output cell 17)

•	Players ages 20-24 have also made the majority of purchases $1,114.06,
    followed by those in ages 15-19 with $412.89 in total purchases and players ages 25-29 with $293
    (Output cell 26)

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

file_to_load = "purchase_data.csv"
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data_df["SN"].unique())
tp = pd.DataFrame([total_players])
ntp = tp.rename(columns={0:"Total Players"})
ntp

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [3]:
# Run basic calculations to obtain number of unique items, average price, etc.
info_table_df = purchase_data_df.describe()
info_table_df
unique_items = purchase_data_df["Item ID"].unique()
# unique_items_total
unique_items_total = len(unique_items)
# tota_number_purchases
tota_number_purchases = purchase_data_df["Purchase ID"].count()
# total_revenue 
total_revenue = purchase_data_df["Price"].sum()
new_total_revenue = total_revenue
# total_revenue = total_rev.map("${:,.2f}".format)
# average_price
average_price = info_table_df.loc["mean","Price"].round(2)

In [4]:
totals = [{"Unique Items":unique_items_total,
           "Average Price":average_price,
           "Number of Purchases": tota_number_purchases,
           "Total Revenue":total_revenue}]
totals_df = pd.DataFrame(totals)
new_totals_df = totals_df[["Unique Items",
                           "Average Price",
                           "Number of Purchases",
                           "Total Revenue"]]

new_totals_df["Average Price"] = new_totals_df["Average Price"].map("${:,.2f}".format)
new_totals_df["Total Revenue"] = new_totals_df["Total Revenue"].map("${:,.2f}".format)

In [5]:
new_totals_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_unique = purchase_data_df["Gender"].unique()
gender_s = pd.Series(purchase_data_df["Gender"])
gender_info = gender_s.value_counts()
gender_df = pd.DataFrame(gender_info)
ren_gender_df = gender_df.rename(columns={"Gender":"Total Count"})

percentage = ((gender_df["Gender"])/780*100).round(2)
percentage_df = pd.DataFrame(percentage)
ren_percentage_df = percentage_df.rename(columns={"Gender":"Percentage of Players"})

In [7]:
ren_percentage_df.index

Index(['Male', 'Female', 'Other / Non-Disclosed'], dtype='object')

In [8]:
gen_demo_df = pd.concat([ren_gender_df, ren_percentage_df], axis=1)
gen_demo_df

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [9]:
only_males = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
only_females = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
only_othrsnond = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]

In [10]:
# Female data
f_purchase_count = only_females["SN"].count()
f_avg_purchase = (only_females["Price"].sum() / f_purchase_count)
f_total_purchase_v = f_avg_purchase * f_purchase_count

# Male Data
m_purchase_count = only_males["SN"].count()
m_avg_purchase = (only_males["Price"].sum() / m_purchase_count)
m_total_purchase_v = m_avg_purchase * m_purchase_count

# OND Data

ond_purchase_count = only_othrsnond["SN"].count()
ond_avg_purchase = (only_othrsnond["Price"].sum() / ond_purchase_count)
ond_total_purchase_v = ond_avg_purchase * ond_purchase_count

In [11]:
unique_fsn = only_females["SN"].unique()
unique_msn = only_males["SN"].unique()
unique_ondsn = only_othrsnond["SN"].unique()

In [12]:
f_gb_sn = only_females.groupby(['SN'])
m_gb_sn = only_males.groupby(['SN'])
ond_gb_sn = only_othrsnond.groupby(['SN'])

In [13]:
# Avg Total Purchase per Person Gender
f_avg_purchase_pp = only_females["Price"].sum() / len(unique_fsn)
m_avg_purchase_pp = only_males["Price"].sum() / len(unique_msn)
ond_avg_purchase_pp = only_othrsnond["Price"].sum() / len(unique_ondsn)

In [14]:
# purchase_count
purchase_count = pd.DataFrame([f_purchase_count, m_purchase_count, ond_purchase_count])
purchase_count = purchase_count.rename(columns={0:"Purchase Count"})
purchase_count = purchase_count.rename(index={0:'Female', 1:'Male', 2:'Other / Non-Disclosed' })

# average_purchase_price
average_purchase_price = pd.DataFrame([f_avg_purchase, m_avg_purchase, ond_avg_purchase])
average_purchase_price = average_purchase_price.rename(columns={0:"Average Purchase Price"})
average_purchase_price = average_purchase_price.rename(index={0:'Female', 1:'Male', 2:'Other / Non-Disclosed' })
average_purchase_price["Average Purchase Price"] = average_purchase_price["Average Purchase Price"].map("${:,.2f}".format)

# total_purchase_value
total_purchase_value = pd.DataFrame([f_total_purchase_v, m_total_purchase_v, ond_total_purchase_v])
total_purchase_value = total_purchase_value.rename(columns={0:"Total Purchase Value"})
total_purchase_value = total_purchase_value.rename(index={0:'Female', 1:'Male', 2:'Other / Non-Disclosed' })
total_purchase_value["Total Purchase Value"] = total_purchase_value["Total Purchase Value"].map("${:,.2f}".format)


# Avg Total Purchase per Person
avg_total_purchase_pp = pd.DataFrame([f_avg_purchase_pp, m_avg_purchase_pp, ond_avg_purchase_pp])
avg_total_purchase_pp = avg_total_purchase_pp.rename(columns={0:"Avg Total Purchase per Person"})
avg_total_purchase_pp = avg_total_purchase_pp.rename(index={0:'Female', 1:'Male', 2:'Other / Non-Disclosed' })
avg_total_purchase_pp["Avg Total Purchase per Person"] = avg_total_purchase_pp["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [15]:
purchasing_analysis_gender = pd.concat([purchase_count, average_purchase_price, 
                                        total_purchase_value, avg_total_purchase_pp], axis=1)
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
age_unique = np.sort(purchase_data_df["Age"].unique())
age_unique

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
       41, 42, 43, 44, 45], dtype=int64)

In [17]:
age_bins = [ 0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99.9]
age_grps = ["<10","10-14", "15-19","20-24","25-29","30-34","34-39","40+"]

purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_grps)
# purchase_data_df.head(3)

In [18]:
new_age_df = purchase_data_df.drop(["Purchase ID", "Gender","Item ID","Item Name","Price"], axis=1)
new_age_unique_df = new_age_df.drop_duplicates(subset="SN", keep= 'first', inplace=False)
# new_age_unique_df.head(10)

In [19]:
nau_df = pd.DataFrame(new_age_unique_df["Age Group"].value_counts())
nau_df = nau_df.reindex(index = age_grps)
nau_df

       Age Group
<10           17
10-14         22
15-19        107
20-24        258
25-29         77
30-34         52
34-39         31
40+           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Purchase Count
ageg_df= purchase_data_df.drop([ "Purchase ID","SN", "Age","Gender","Item ID","Item Name","Price"], axis=1)
ageg_df["Age Group"].value_counts()
ageg_df = pd.DataFrame(ageg_df["Age Group"].value_counts())
ageg_df = ageg_df.reindex(index = age_grps)
ageg_df = ageg_df.rename(columns={'Age Group': 'Purchase Count'})
ageg_df

       Purchase Count
<10                23
10-14              28
15-19             136
20-24             365
25-29             101
30-34              73
34-39              41
40+                13

In [21]:
au10 = purchase_data_df.loc[purchase_data_df["Age Group"] == "<10", :]
au15 = purchase_data_df.loc[purchase_data_df["Age Group"] == "10-14", :]
au20 = purchase_data_df.loc[purchase_data_df["Age Group"] == "15-19", :]
au25 = purchase_data_df.loc[purchase_data_df["Age Group"] == "20-24", :]
au30 = purchase_data_df.loc[purchase_data_df["Age Group"] == "25-29", :]
au35 = purchase_data_df.loc[purchase_data_df["Age Group"] == "30-34", :]
au40 = purchase_data_df.loc[purchase_data_df["Age Group"] == "34-39", :]
ao40 = purchase_data_df.loc[purchase_data_df["Age Group"] == "40+", :]
# au10.head()

In [22]:
# au10 data
au10_purchase_count = au10["SN"].count()
au10_avg_purchase = (au10["Price"].sum() / au10_purchase_count)
au10_total_purchase_v = au10_avg_purchase * au10_purchase_count
au10_unique_sn = au10["SN"].unique()
au10_avg_purchase_pp = au10["Price"].sum() / len(au10_unique_sn)
# au15 data
au15_purchase_count = au15["SN"].count()
au15_avg_purchase = (au15["Price"].sum() / au15_purchase_count)
au15_total_purchase_v = au15_avg_purchase * au15_purchase_count
au15_unique_sn = au15["SN"].unique()
au15_avg_purchase_pp = au15["Price"].sum() / len(au15_unique_sn)
# au20 data
au20_purchase_count = au20["SN"].count()
au20_avg_purchase = (au20["Price"].sum() / au20_purchase_count)
au20_total_purchase_v = au20_avg_purchase * au20_purchase_count
au20_unique_sn = au20["SN"].unique()
au20_avg_purchase_pp = au20["Price"].sum() / len(au20_unique_sn)
# au25 data
au25_purchase_count = au25["SN"].count()
au25_avg_purchase = (au25["Price"].sum() / au25_purchase_count)
au25_total_purchase_v = au25_avg_purchase * au25_purchase_count
au25_unique_sn = au25["SN"].unique()
au25_avg_purchase_pp = au25["Price"].sum() / len(au25_unique_sn)
# au30 data
au30_purchase_count = au30["SN"].count()
au30_avg_purchase = (au30["Price"].sum() / au30_purchase_count)
au30_total_purchase_v = au30_avg_purchase * au30_purchase_count
au30_unique_sn = au30["SN"].unique()
au30_avg_purchase_pp = au30["Price"].sum() / len(au30_unique_sn)
# au35 data
au35_purchase_count = au35["SN"].count()
au35_avg_purchase = (au35["Price"].sum() / au35_purchase_count)
au35_total_purchase_v = au35_avg_purchase * au35_purchase_count
au35_unique_sn = au35["SN"].unique()
au35_avg_purchase_pp = au35["Price"].sum() / len(au35_unique_sn)
# au40 data
au40_purchase_count = au40["SN"].count()
au40_avg_purchase = (au40["Price"].sum() / au40_purchase_count)
au40_total_purchase_v = au40_avg_purchase * au40_purchase_count
au40_unique_sn = au40["SN"].unique()
au40_avg_purchase_pp = au40["Price"].sum() / len(au40_unique_sn)
# ao40 data
ao40_purchase_count = ao40["SN"].count()
ao40_avg_purchase = (ao40["Price"].sum() / ao40_purchase_count)
ao40_total_purchase_v = ao40_avg_purchase * ao40_purchase_count
ao40_unique_sn = ao40["SN"].unique()
ao40_avg_purchase_pp = ao40["Price"].sum() / len(ao40_unique_sn)

In [23]:
# purchase_count
age_purchase_count = pd.DataFrame([au10_purchase_count,au15_purchase_count,au20_purchase_count,au25_purchase_count,
                                   au30_purchase_count,au35_purchase_count,au40_purchase_count,ao40_purchase_count])
age_purchase_count = age_purchase_count.rename(columns={0:"Purchase Count"})
age_purchase_count = age_purchase_count.rename(index={0:"<10",1:"10-14",2:"15-19",3:"20-24",4:"25-29",
                                                      5:"30-34",6:"34-39",7:"40+" })

# average_purchase_price
age_average_purchase_price = pd.DataFrame([au10_avg_purchase,au15_avg_purchase,au20_avg_purchase,au25_avg_purchase,
                                           au30_avg_purchase,au35_avg_purchase,au40_avg_purchase,ao40_avg_purchase])
age_average_purchase_price = age_average_purchase_price.rename(columns={0:"Average Purchase Price"})
age_average_purchase_price = age_average_purchase_price.rename(index={0:"<10",1:"10-14",2:"15-19",3:"20-24",4:"25-29",
                                                                      5:"30-34",6:"34-39",7:"40+" })
age_average_purchase_price["Average Purchase Price"] = age_average_purchase_price["Average Purchase Price"].map("${:,.2f}".format)


# total_purchase_value
age_total_purchase_value = pd.DataFrame([au10_total_purchase_v,au15_total_purchase_v,au20_total_purchase_v,
                                         au25_total_purchase_v,au30_total_purchase_v,au35_total_purchase_v,
                                         au40_total_purchase_v,ao40_total_purchase_v])
age_total_purchase_value = age_total_purchase_value.rename(columns={0:"Total Purchase Value"})
age_total_purchase_value = age_total_purchase_value.rename(index={0:"<10",1:"10-14",2:"15-19",3:"20-24",4:"25-29",
                                                                  5:"30-34",6:"34-39",7:"40+" })
age_total_purchase_value["Total Purchase Value"] = age_total_purchase_value["Total Purchase Value"].map("${:,.2f}".format)


# Avg Total Purchase per Person
age_avg_total_purchase_pp = pd.DataFrame([au10_avg_purchase_pp,au15_avg_purchase_pp,au20_avg_purchase_pp,au25_avg_purchase_pp,
                                          au30_avg_purchase_pp,au35_avg_purchase_pp,au40_avg_purchase_pp,ao40_avg_purchase_pp])
age_avg_total_purchase_pp = age_avg_total_purchase_pp.rename(columns={0:"Avg Total Purchase per Person"})
age_avg_total_purchase_pp = age_avg_total_purchase_pp.rename(index={0:"<10",1:"10-14",2:"15-19",3:"20-24",4:"25-29",
                                                                    5:"30-34",6:"34-39",7:"40+" })
age_avg_total_purchase_pp["Avg Total Purchase per Person"] = age_avg_total_purchase_pp["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [24]:
purchasing_analysis_age = pd.concat([age_purchase_count, age_average_purchase_price, 
                                        age_total_purchase_value, age_avg_total_purchase_pp], axis=1)
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
34-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
item_df = pd.DataFrame(purchase_data_df[["Item ID","Item Name","Price"]])
item_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame